<component name="ArtifactManager">
  <artifact type="war" name="SpringTests:war">
    <output-path>$PROJECT_DIR$/SpringTests/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringTests</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringTests-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringTests:war exploded" />
    </root>
  </artifact>
</component>